.header {
    display: flex;
    /* align-items: center; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .nav {
    margin-left: auto;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333; /* changed from default blue color */
  }
  
  .nav button {
    color: #333; /* changed from default blue color */
    background-color: transparent; /* remove default blue background */
    border: none; /* remove default blue border */
    padding: 10px 20px; /* add some padding to the buttons */
    border-radius: 5px; /* add some rounded corners to the buttons */
    cursor: pointer; /* change cursor to pointer on hover */
  }
  
  .nav button:hover {
    background-color: #f0f0f0; /* add some hover effect */
    color: #666; /* change text color on hover */
  }
  
  .MuiAppBar-root {
    background-color: transparent !important; /* remove default blue background */
    box-shadow: none !important; /* remove default box shadow */
  }